body {
  font-family: sans-serif;
  margin: 0;
  background-color: rgb(175, 176, 192);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  background-image: url("assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}
a {
  color: #007bff;
}
a:hover {
  text-decoration: underline;
}
