body {
  font-family: sans-serif;
  margin: 0;
  background-color: rgb(175, 176, 192);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  
}
a {
  color: #007bff;
}
a:hover {
  text-decoration: underline;
}
